<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Bbdd</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align:center;">
<h1>Formulario para insertar un jugador en la BD</h1>
<form action=" https://aplicacion-oitaben.herokuapp.com/guarda" method="post"/>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre">
    <br/>
    <label for="equipo">Equipo:</label>
    <input type="text" id="equipo" name="equipo">
    <br/>
    <label for="goles">Goles:</label>
    <input type="text" id="goles" name="goles">
    <br/>
    <input type="submit" value="Guardar datos">
</form>
</body>
</html>
</body>
</html>