<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <p class="card-subtitle mb-2 text-mute">Usa <i>contar/{PALABRA}</i> para
                        contar vocales y consonantes</p>
                    <p class="card-subtitle mb-2 text-mute"><a href="guardarjugador">pincha aquí para guardar un jugador en la base de datos</a>
                    <p class="card-subtitle mb-2 text-mute">Usa <i>/listar</i> para ver todos los jugadores ya guardados</p>
                    <p class="card-subtitle mb-2 text-mute">Usa <i>/{PALABRA}</i> para transformar las consonantes en mayúsculas</p>
                    <p class="card-subtitle mb-2 text-mute">Usa <i>/traduce/{FRASE}</i>
                        para traducir al ingléss</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</html>